body{
  background-color:#212121;
  color: white;
}

.container{
margin-top: 60px;
}
a{
  color:green;
}

.flash{background-color: gray;}
.add{background-color: #313131;font-size: 40px;}
.menu_item{background-color: #313131;margin-top: 5px;}
