<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create</title>
  </head>
  <body>
    <h1>{{res_name}}</h1>
    <hr>
    <h2>Create</h2>
    <form action="{{url_for('newMenuItem',res_id=res_id)}}" method="POST">
      <fieldset>
        <p>Name <input type="text" name="name" placeholder="Name of the dish" required ></p>
        <p>Price <input type="text" name="price" value="$"></p>
        <p>Description <input type="text" name="desc" placeholder="Describe the dish"></p>
        <p>Course <select name="course"><option value="Entree">Entree</option><option value="Beverage">Beverage</option><option value="Dessert">Dessert</option><option value="Appetizer">Appetizer</option></select></p>
        <p><input type="submit" value="Submit"> <a href="{{url_for('menu',res_id=res_id)}}">Kancel</a></p>
      </fieldset>
    </form>
  </body>
</html>
