<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='main.css')}}">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <article class="container">


<form action="{{url_for('editMenuItem',res_id=res_id,menu_id=menu_id)}}" method="POST">
<h1>Edit {{res_name}}</h1><hr>
<fieldset>
  <h3><label for="name">New Name</label><input type="text" name="name" placeholder="{{res_menu_data.name}}"></h3>
  <h3><label for="price">New Price</label><input type="text" name="price" placeholder="{{res_menu_data.price}}"></h3>
  <h3><label for="desc">New description</label><input type="text" size="50" name="desc" placeholder="{{res_menu_data.description}}"></h3>
  <h3>Course<select name="course"><option value="Entree">Entree</option><option value="Beverage">Beverage</option><option value="Dessert">Dessert</option><option value="Appetizer">Appetizer</option></select></h3>
  <input type="Submit" value="Edit">&nbsp; <a href="{{url_for('menu',res_id=res_id)}}"> Kancel</a>
</fieldset>
</form>
</article>
  </body>
</html>
