<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Menu</title>
  </head>
  <body>
    <h1>{{res_name}}</h1>
    {%with messages = get_flashed_messages()%}
    {% if messages%}
    <ul>
      {%for message in messages%}
      <li>{{message}}</li>
      {%endfor%}
    </ul>
    {%endif%}
    {%endwith%}
    <a href="{{url_for('newMenuItem',res_id=r_id)}}">Add a dish</a>
    {% for menu in menu_data %}
<h3>{{menu.name}}</h3>
<h3>{{menu.price}}</h3>
<h3>{{menu.description}}</h3>
<h3><a href={{url_for('editMenuItem',res_id=r_id,menu_id=menu.id)}}>Edit</a>&nbsp;<a href={{url_for('deleteMenuItem',res_id=r_id,menu_id=menu.id)}}>Delete</a></h3>
<br>
{%endfor%}
  </body>
</html>
