<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/main.css">
    <title>Menu</title>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <header class="navbar-header">
           <a href="#" class="navbar-brand">{{res_name}}</a>
        </header>
        <ul class="nav navbar-nav">
          <li><a href="{{url_for('names')}}">Home</a></li>
        </ul>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12 flash navbar-fixed-bottom">
          {%with messages = get_flashed_messages()%}
          {% if messages%}

            {%for message in messages%}
            <h3>{{message}}</h3>
            {%endfor%}
            {%endif%}
          {%endwith%}
        </div>

      </div>

<div class="row">
  <div class="col-md-12 add">
    <a href="{{url_for('newMenuItem',res_id=r_id)}}">+ Add a dish</a>
  </div>
</div>
{%if(flag != None)%}
{% for menu in menu_data %}
<div class="row">
  <div class="col-md-12 menu_item">
    <h3>{{menu.name}}</h3>
    <h3>{{menu.price}}</h3>
    <h3>{{menu.description}}</h3>
    <h3><a href={{url_for('editMenuItem',res_id=r_id,menu_id=menu.id)}}>Edit</a>&nbsp;<a href={{url_for('deleteMenuItem',res_id=r_id,menu_id=menu.id)}}>Delete</a></h3>
  </div>
</div>
{%endfor%}
{%else%}
<div class="row">
  <div class="col-md-12 menu_item">
    <h3>No Data Found</h3>
  </div>
  {%endif%}
</div>
    </div>
  </body>
</html>
